* {
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
}

input {
  width: 3rem;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.ct_item-active{
  text-align: center;
}


/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 15rem;
	margin-left: 3%;
  border-radius: 0.7em;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
	background: rgb(8, 8, 8);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
  height: 27rem;
	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

.card {
  background-color: rgb(8, 8, 8);
  color: #fff;
  padding: 0.5em;
  width: 100%; 
  box-shadow: 0px 3px 8px rgba(8, 8, 8);
  transition: all 0.8s ease-in-out;
  height: 40rem;
  
  }


.card:hover {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.753);

  }


.card2 {
border-radius: 0.3rem;
background-color: black;
height: 12.5rem;
}


.card-body {
    height: auto;
    width: auto;
}
.filter {
display:none;
}
.item {
  color: white;
}

.boxShadow {
  box-shadow: 0px 3px 8px rgba(8, 8, 8);
  transition: transform 2s;
  transition: all 0.8s ease-in-out;
  

}

.boxShadow:hover {
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.753);
}

.imgtextLogoPosition {
  display:inline-block;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 0 0px 20px rgba(0, 0, 0, 0.753);
  font-style: italic;
  color: white;
  position:relative; 
  top:0.5rem;    

}
.imglogoPosition {
top:0.5rem; 
position: relative;
}

.khulaHeader {
    color: white;
    font-family: 'Khula', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 1.5rem;
    text-align: center;
    background-color: rgb(25, 25, 25);
}

.bg-khulaHeader{
    background-color: rgb(19, 19, 19);
}

.navbar{
    width: auto;
    background: rgb(19, 19, 19);
    color: white;
    height: 3.5rem;
    font-size: larger;
    text-align: center;
    text-decoration: none;
}
.form-control{
    width: 21rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-control4{
  padding: 0.3rem;
  width: 42rem;
  margin-left: 18rem;
  position: absolute;
  background: rgb(35, 35, 35);
  border: none;
  color: white;
}



.modal {
    color: black;
    font-family: 'Khula', sans-serif;
    text-align: center;
    animation: slide-in-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.modal .modal-header {
    color: white;
    font-family: 'Khula', sans-serif;
    text-align: center;
    background: black;


}

.btn-close{
    color: white;
    background: black;
    border: none;
}

.btn-close:hover{
  color: white;
}

.btn-primary {
    color: rgb(192, 192, 192);
    filter: grayscale(-0.1%) opacity(0.1);
    transition: 0.5s all ease;
}
.btn-primary:hover {
    color: #ffffff;
}

.btn-primary2 {
  background: none;

}

.modal-content {
    width: 50rem;
    height: auto;
    background: rgb(8, 8, 8);
    animation: slide-in-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    
}

.khula {
    color: white;
    text-align: center;
    font-family: 'Khula', sans-serif;
    font-size: medium;
    
}

.khulaYellow {
    color: rgb(255, 255, 1);
    font-family: 'Khula', sans-serif;
}
footer {
    padding-top: 1.5rem;
    background-color: black;
    position: relative;
    bottom: 0;
    height: 12rem;
    
}

footer p {
    color: white;
    text-align: center;
    font-family: 'Khula', sans-serif;
    font-size: large;
}

.btnCompra {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  padding: 0 30px;
  height: auto;
  font-size: 16px;
  line-height: 44px;
  transition: .25s linear;
  background: #1b1b1b;
  color: #fff;
  filter: grayscale(-0.1%) opacity(0.1);
  transition: 0.5s all ease;
  margin-top: -2.5rem;
}



.btnCompra:hover {
  background: #2c2c2c;
}
  

.centerImage {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }

.backgroundColor {
    background-color: black;

}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.container {
    color: white;
}
.row {
    background: rgb(8, 8, 8);
}

.card2 {
  border-radius: 0.3rem;
  background-color: black;
  height: 12.5rem;
}



.imgtextLogoPosition {
    display:inline-block;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 0px 20px rgba(0, 0, 0, 0.753);
    font-style: italic;
    color: white;
    position:relative; 
    top:0.5rem;    

}
.imglogoPosition {
  top:0.5rem; 
  position: relative;
  }

.btn2 {
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  color: white;
  height: 1rem;
  text-decoration: none;
  top: 5px;
  margin-left: 68rem;
}

.btn4 {
  position:relative;
  border: none;
  outline: none;
  margin-right: 20rem;
}

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 400% 0;
    }
  }

  @keyframes glowing-reverse {
    0% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }



/* .d-flex {
    width: 30rem;
} */
  /**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

  /* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

  .form-control4 {
    display: none;
  }

  .btn4 {
    display: none;
  }
	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}